.table__cell--count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 30px;
  font-weight: bold;
}

.decrement__button {
  transform: translateY(-2px);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.increment__button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}