/* ARROWS */

.arrows {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.arrow {
    height: 30px;
    width: 30px;
}

.arrow:hover {
     cursor: pointer;
}

.left {
     background-image: url(../../../assets/arrow.png);
     background-repeat: no-repeat;
     background-size: contain;
     margin-left: 5px;
     transform: rotate(180deg);
}

.right {
     background-image: url(../../../assets/arrow.png);
     background-repeat: no-repeat;
     background-size: contain;
     margin-right: 5px;
}