.table__cell--count {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.counter {
  font-family: Baloo, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 51px;
}

.decrement__button {
  padding: 10px 20px;
  font-family: Baloo, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.decrement__button:disabled {
  cursor: no-drop;
}

.increment__button {
  padding: 10px 20px;
  font-family: Baloo, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}