.slide-title {
    /*position: absolute;*/
    /*bottom: -25px;*/
    /*-webkit-text-stroke: 1px black;*/
    margin-top: 15px;
    width: 100%;
    font-size: 32px;
    text-align: center;
    font-family: Baloo, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
}

.slide-title:hover {
    color: #0d6efd;
}