.slide-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    width: 55%;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px;
}