.footer__container {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding: 16px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.footer__content {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__middle {
    display: flex;
    flex-direction: column;
}

.footer__middle-links {
    display: flex;
    flex-direction: column;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.footer__link-icon {
    cursor: pointer;
    text-decoration: none;
}

.footer-social-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
}

.footer-social-icon-vk {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/vk.svg);
}

.footer-social-icon-instagram {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/instagram.svg);
}

.footer__link-number {
    color: black;
    text-decoration: none;
    padding-left: 29px;
    background-image: url(../../assets/phone.svg);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.footer__link-telegram {
    color: black;
    text-decoration: none;
    padding-left: 29px;
    background-image: url(../../assets/telegram.svg);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.footer__link-email {
    color: black;
    text-decoration: none;
    padding-left: 29px;
    background-image: url(../../assets/email.svg);
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}