.header__container {
    position: relative;
    width: 100%;
    height: 67px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.header__content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__middle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h__middle {
    margin: 0 10px;
}

.header__dropdown {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/bg_brands.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__dropdown:hover {
    background-image: url("../../assets/bg_brands_hover.svg");
}

.btn__dropdown {
    height: 100%;
    position: relative;
    font-family: ProximaNova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.btn__dropdown:hover {
    color: #0d6efd;
}

.btn__dropdown::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 100%;
}

.btn__dropdown::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 30px;
    height: 100%;
}

.header__left {
    display: flex;
}
.header__left div:not(:first-child) {
    margin-left: 30px;
}

.header__logo {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Bruno Ace', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__right {
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.header__basket {
    cursor: pointer;
    height: 100%;
    width: 30px;
    background-image: url("../../assets/BasketIcon.svg");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.basket__counter {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Baloo, sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    text-align: center;
}

.search__form {
    width: 150px;
    position: relative;
    margin: 0 auto;
}

.header__search {
    background: transparent;
}
.header__search:after {
    content:"";
    clear:both;
    display:table;
}
.header__search form {
    float: left;
}
.header__search input {
    width: 150px;
    height: 31px;
    padding-left: 33px;
    border-radius: 31px;
    border: 2px solid black;
    background: white;
    outline: none;
    position: relative;
    transition: .3s linear;
    font-family: ProximaNova, sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*.header_search input:focus {*/
/*    width: 120px;*/
/*}*/

.header__search button {
    width: 31px;
    height: 31px;
    background: none;
    border: none;
    /*cursor: pointer;*/
    position: absolute;
    left: 3px;
    z-index: 999;
}
.header__search button:before{
    content: url("../../assets/search.svg");
    text-rendering: auto;
    line-height: 1;
    color: #324b4e;
    position: absolute;
    top: 6px;
    left: 8px;
}

.header__contacts {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: ProximaNova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

