.main__container {
    width: 100%;
}

.model__container {
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
}

.items__model {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}