.table__cell--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  /* font-size: 21px; */
  line-height: 25px;
}

.cell__brand {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}

.cell__size {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.item__link--name:active,
.item__link--name:hover,
.item__link--name {
    /* text-decoration: none; */
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}