.item__size-blocks-item {
  margin: 5px;
  padding: 6px 16px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  background-color: #FFFFFF;
  transform: scale(1);
  transition: all ease-in 0.1s;
}

.item__size-blocks-item:hover {
  transform: scale(1.05);
  background-color: black !important;
  color: white !important;
}